## Exercise 1. Check the packages installed

In [ ]:
conda list

## Exercise 2. Download `wiki_edit` data

#### Doenload ✅

## Exercise 3. Use `load_table` load the `wiki_edit` file

In [15]:
import pandas as pd

column_names = ['RevisonId','ArticleId','Timestamp','Editor']

data = pd.read_table("wiki_edit.txt", sep=' ', header=None, names=column_names)

In [16]:
data.head()

   RevisonId  ArticleId   Timestamp            Editor
0    9019643  Anarchism  2005-01-01  ip:24.136.172.37
1    9062018  Anarchism  2005-01-03   ip:137.53.22.23
2    9085524  Anarchism  2005-01-03   ip:24.42.90.254
3    9140836  Anarchism  2005-01-06  ip:69.61.184.201
4    9160986          A  2005-01-06               Fvw

#### a. Find top-5 articals that have received the highest number of edits.

In [20]:
data["ArticleId"].value_counts().head()

2004_Indian_Ocean_earthquake                                 186
Humanitarian_response_to_the_2004_Indian_Ocean_earthquake     84
Tsunami                                                       64
Donations_for_victims_of_the_2004_Indian_Ocean_earthquake     55
January_2005                                                  54
Name: ArticleId, dtype: int64

#### b. Find top-5 editors who have edited the most number of articles.

In [24]:
data["Editor"].value_counts().head()

CanisRufus       241
Jerryseinfeld    224
SimonP           209
Pcpcpc           206
Grutness         175
Name: Editor, dtype: int64

In [25]:
#If we want to look at the top-5 editors who have edited unique articals.
new_d = data.drop_duplicates(subset=['ArticleId', 'Editor'])
new_d["Editor"].value_counts().head()

CanisRufus       241
SimonP           206
Pcpcpc           203
Grutness         175
Jerryseinfeld    160
Name: Editor, dtype: int64

## Exercise 4. Download JSON data file. Find top 15 most frequent terms

#### Doenload ✅

In [72]:
#Load the data
wh = pd.read_json('wh.json',lines=True)
wh.head(3)

,contributors,truncated,text,is_quote_status,in_reply_to_status_id,id,favorite_count,entities,retweeted,coordinates,...,in_reply_to_user_id_str,possibly_sensitive,lang,created_at,in_reply_to_status_id_str,place,metadata,quoted_status_id,quoted_status_id_str,extended_entities
0,NaN,False,RT @internetarchive: New Lenses on the First S...,False,NaN,817439820310052864,0,"{'symbols': [], 'user_mentions': [{'id': 18957...",False,NaN,...,NaN,0.0,en,2017-01-06 18:36:55+00:00,NaN,NaN,"{'iso_language_code': 'en', 'result_type': 're...",NaN,NaN,NaN
1,NaN,False,RT @VPLive: Happening now: Watch @VP Biden at ...,False,NaN,817113661768613890,0,"{'symbols': [], 'user_mentions': [{'id': 70330...",False,NaN,...,NaN,0.0,en,2017-01-05 21:00:52+00:00,NaN,NaN,"{'iso_language_code': 'en', 'result_type': 're...",NaN,NaN,NaN
2,NaN,False,RT @vj44: Workday is a euphemism! We've the ho...,True,NaN,817113172079472644,0,"{'symbols': [], 'user_mentions': [{'id': 59551...",False,NaN,...,NaN,NaN,en,2017-01-05 20:58:56+00:00,NaN,NaN,"{'iso_language_code': 'en', 'result_type': 're...",8.171058e+17,8.171058e+17,NaN

In [73]:
# counts the top 15 frequent term of from column text
top15 = wh["text"].str.split(expand=True).stack().value_counts().head(15)
top15

RT              34
the             28
to              27
of              22
our             10
@vj44:           9
that             9
@POTUS           9
in               9
and              9
a                9
for              8
you              8
@WhiteHouse:     8
my               7
dtype: int64